.container {
 
  display: flex;
  justify-content: center;
  align-items: center;
padding-top: 60px;
  flex-direction: column;

}

.info  {
  margin-top: 30px;
  font-size: 14px;
  color: gray;
}

.avatar img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-color: #8a2be3;

}

